
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #9bc4f0c9;

  }
 

 .menu {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3.7em;
  margin: auto;
  align-items: center;
 background-image: linear-gradient(to right, #071731, #132d57, #071731);
  position: sticky;
  top:0;
}
.menu a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 1em;
  text-align: center;
 
}
a.active {

  background-color: #e74c3c;

}

.menu a:hover {
  background-color: gray;
}

  #fii
  {
      padding-left: 20px;
      width: 50%;
  }
  #univ{
      width: 70%;
      padding-left: 30px;
      }



.content img{
    width: 100%;
    height: 380px;
}
/* .sfaturi{
    background-color: white;
    opacity: 0.4;
     margin: 0%;
    padding: 0%;
    width: 100%;
    height: 75px;
    border-radius: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;    
}
.sfat a{
     margin: 14px;
    padding: 0px; 
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:rgb( rgb(20, 20, 92));
    
}

#bach
{
    width: 70px;
    height: 70px;
  
} */

.buttons
{
  margin: 0;
  padding: 0;
  background-color: #d43d2c;
  position: static;
  overflow: auto;
  text-align: center;  
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 40px;

  
}
  
.buttons a{
  display: block;
  color: black;
  padding: 30px;
  text-decoration: none;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
} 

 .buttons a.active
{
  background-color: gray;
  color:white;

} 

.buttons a:hover{
  background-color: gray;
  color:white;
}

.continutgeneral
{
  display: grid;
  /* grid-template-columns: 16% 42% 41%; */
  grid-template-columns: 16% auto auto;
  grid-template-rows: 400px auto auto auto auto ;
   
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.inscriere
{
    font-size: 17px;
  text-align: left;
    margin: 2px;
    padding: 10px;
    background: rgba(8, 64, 82, 0.4);
    border-radius: 40px;
   grid-row: 1;
  
   grid-column: 2;
   
}
.dosar
{
    font-size: 17px;
  text-align: left;
    margin: 2px;
    padding: 10px;
    background: rgba(199, 209, 52, 0.849);

    border-radius: 40px;
    grid-column: 3;
    grid-row: 1/3;
   
}
.inscriere a , .dosar a{
    color: #49140e;
    text-decoration: solid;
}

.inscriere a:hover , .dosar a:hover{
   
    text-decoration: underline;
}

.materii
{
  font-size: 17px;
    margin: 2px;
    padding: 10px;
    background: rgba(76, 139, 92, 0.4);
    border-radius: 40px;
   grid-row-start: 2;
   grid-row-end: span 4;
   grid-column-start: 1;
   grid-column-end: span 2;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}



.materii a
{
  color: #000000;
  text-decoration: none;

}
.materii a:hover{
  color: rgb(201, 194, 194);
}



.obligatorii
{
  font-size: 25px;
  grid-row: 1/3;
  grid-column: 2;
  border-radius:100px; 
  display: flex;
align-items: center;
justify-content: center;
text-align: center;
 
}

.materii div{
  text-align: center;
}

.materii ul{
  text-align: left;
}


.algoritmica
{
  font-size: 17px;
    margin: 4px;
    padding: 10px;
    background: rgba(206, 98, 48, 0.986);

    border-radius: 40px;
    grid-column: 1;
    grid-row: 2 span 2;
}
 .tehnici
 {
  font-size: 17px;
    margin: 2px;
    padding: 10px;
    background: rgba(206, 98, 48, 0.986);
    border-radius: 40px;
    grid-column: 1;
    grid-row: 1 ;

 }

 .fundamente
 {
  font-size: 17px;
    margin: 4px;
    padding: 10px;
    background: rgba(206, 98, 48, 0.986);
    border-radius: 40px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
 }

 .aplicata
 {
  font-size: 17px;
    margin: 4px;
    padding: 10px;
    background: rgba(206, 98, 48, 0.986);
    border-radius: 40px;
    grid-column: 3;
    grid-row:3;
 }
  .so
  {
    font-size: 17px;
    margin: 4px;
    padding: 10px;
    background: rgba(206, 98, 48, 0.986);
    border-radius: 40px;
    grid-column: 1/3;
    grid-row: 3;
  }

  .conditii
  {
    font-size: 17px;
    text-align: center;
    margin: 9px;
    padding: 20px;
    background: rgba(91, 103, 107, 0.4);
    border-radius: 40px;
    grid-column: 3;
    
  }
  
  .conditii ul{
    text-align: left;
  }