
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #c2cedb;

  }
 

 .menu {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3.7em;
  margin: auto;
  align-items: center;
 background-image: linear-gradient(to right, #071731, #132d57, #071731);
  position: sticky;
  top:0;
}
.menu a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 1em;
  text-align: center;
 
}
a.active {

  background-color: #e74c3c;

}

.menu a:hover {
  background-color: gray;
}

  #fii
  {
      padding-left: 20px;
      width: 50%;
  }
  #univ{
      width: 70%;
      padding-left: 30px;
      }



.content img{
    width: 100%;
    height: 380px;
}
/* .sfaturi{
    background-color: white;
    opacity: 0.4;
     margin: 0%;
    padding: 0%;
    width: 100%;
    height: 75px;
    border-radius: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;    
}
.sfat a{
     margin: 14px;
    padding: 0px; 
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:rgb( rgb(20, 20, 92));
    
}

#bach
{
    width: 70px;
    height: 70px;
  
} */

.buttons
{
  margin: 0;
  padding: 0;
  background-color: #d43d2c;
  position: static;
  overflow: auto;
  text-align: center;  
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 40px;

  
}
  
.buttons a{
  display: block;
  color: black;
  padding: 30px;
  text-decoration: none;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
} 

 .buttons a.active
{
  background-color: gray;
  color:white;

} 

.buttons a:hover{
  background-color: gray;
  color:white;
}

.continutgeneral
{
  display: grid;
  grid-template-columns: 16% 42% 41%;
  grid-template-rows: auto auto auto auto auto auto;
   
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.inscriere
{
    font-size: 17px;
  text-align: left;
    margin: 2px;
    padding: 10px;
    background: rgba(8, 64, 82, 0.4);
    border-radius: 40px;
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column: 2;
   
}
.dosar
{
    font-size: 17px;
  text-align: left;
    margin: 2px;
    padding: 10px;
    background: rgba(8, 64, 82, 0.4);
    border-radius: 40px;
    grid-column: 3;
    grid-row: 1/2;
   
}
.inscriere a , .dosar a{
    color: #49140e;
    text-decoration: solid;
}

.inscriere a:hover , .dosar a:hover{
   
    text-decoration: underline;
}
