
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #22303f;
  }
 

 .menu {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3.7em;
  margin: auto;
  align-items: center;
 background-image: linear-gradient(to right, #071731, #132d57, #071731);
  position: sticky;
  top:0;
}
.menu a{
  text-align: center;
}
  a.active {
  background-color: #e74c3c;
}
.menu a:hover {
  background-color: gray;
}
  #fii
  {
      padding-left: 20px;
      width: 50%;
  }
  #univ{
      width: 70%;
      padding-left: 30px;
      }

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 1em;
  }
.content img{
    width: 100%;
    height: 380px;
}
.sfaturi{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.4;
    /* filter: alpha(opacity=60); For IE8 and earlier */
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 75px;
    border-radius: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;    
}
.sfaturi a{
    margin: 14px;
    padding: 0px;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}
.sfaturi a:link,a:visited
{
    color:rgb(38, 35, 56);
}

.sfaturi a:hover{
    color:black;
    text-decoration: underline;

}


#bach
{
    width: 70px;
    height: 70px;
  
}
  
  
  