html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}

.menu {
	display: grid;
  grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  align-items: center;
  background-image: linear-gradient(to right, #071731, #132d57, #071731);
  position: sticky;
  top:0;
}

.menu a{
	text-align: center;
	padding:10%;
}

#fii
{
	padding-left: 20px;
	width: 50%;
}

#univ{
	width: 70%;
	padding-left: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 1em;
  }

a.active {
  background-color: #e74c3c;
}

.menu a:hover {
  background-color: gray;
}

.hover-content {
  display:none;
}

.parent:hover .hover-content {
  display:block;
  color:black;
}

#parent1
{
    text-decoration: line-through;
}

.drop
{
  margin-left:30px;
}

.content
{
  background-color: #d9d9d9;
  border-radius: 15px;
  margin: 5px;
}


    .grid-container {
      display: grid;
      grid-template-columns: 0.2fr 2fr 0.2fr 2fr 0.2fr 2fr 0.2fr;
      grid-template-rows: 0.5fr 1.5fr 0.5fr;
      grid-template-areas: ". . . . . . ." ". grid1 . grid2 . grid3 ." ". . . . . . .";
      height: 100%;
    }
    
    .grid1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas: "nume1" "continut1";
      grid-area: grid1;
      border: 1px solid #000;
    border-radius:15px;
    background-color:	#5b85ae;
    }
    
    .nume1 { grid-area: nume1;
      text-align: center;
      padding-top:5%; }
    
    .continut1 { grid-area: continut1;
      font-size:15pt;
      color:#F5FFFA;
     }
    
    .grid2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas: "nume2" "continut2";
      grid-area: grid2;
      border: 1px solid #000;
    border-radius:15px;
    background-color:	#5b85ae;
    }
    
    .nume2 { grid-area: nume2;
      text-align: center;
      padding-top:5%; }
    
    .continut2 { grid-area: continut2;
      font-size:15pt;
      color:#F5FFFA; }
    
    .grid3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas: "nume3" "continut3";
      grid-area: grid3;
      border: 1px solid #000;
    border-radius:15px;
    background-color:	#5b85ae;
    }
    
    .nume3 { grid-area: nume3; 
      text-align: center;
      padding-top:5%;}
    
    .continut3 { grid-area: continut3;
      font-size:15pt;
      color:#F5FFFA; }


@media screen and (max-width: 635px)
{
  .menu{
          grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  }
  .menu a
  {
          font-size: 8pt;
  }
  #fii{
      
  padding-top:5px;
  }
  #univ{
    padding-left:0px;
    padding-top:5px;
  }
  
  .nume1
  {
    font-size:12px;
  }
  .nume2{
    font-size:12px;
  }
  .nume3{
    font-size:12px;
  }
  .continut1{
    font-size:15px;
  }
  .continut2{
    font-size:15px;
  }
  .continut3{
    font-size:15px;
  }
  
  .grid-container
  {
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
  }
      
}

@media screen and (max-width: 375px)
{
	.menu{
		font-size: 12px;
  }
  .nume1
  {
    font-size:10px;
  }
  .nume2{
    font-size:10px;
  }
  .nume3{
    font-size:10px;
  }
  .continut1{
    font-size:12px;
  }
  .continut2{
    font-size:12px;
  }
  .continut3{
    font-size:12px;
  }
  
  .grid-container
  {
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
  }
}